{% extends '_includes/layout.njk' %}

{% block content %}
<section id="banner">
  <div class="content">
    <header><h1>About Me</h1>
</header>

<p>I'm an Afro-Latino, that was born in the midwest, but spent the majority of my life on the east coast. I gradutated from the Rochester Institute of Technology, with a BS in Computer Engineering Technology and the University of Maryland with an MBA. My interests include searching for new music, watching mixed martial arts and thanks to the pandemic, solving 1000 piece puzzles.</p>

<p>I have 15+ years of experience working in the public sector and 7+ years volunteering on non-profit boards. My career in the federal government has allowed me to lead rewarding projects at the <a href="https://coe.gsa.gov/coe/farm-loans/index.html" target="_blank">USDA</a>, <a href="https://coe.gsa.gov/coe/affordable-housing/index.html" target="_blank">HUD</a>, and <a href="https://18f.gsa.gov/2020/07/07/transforming-how-dojs-civil-rights-division-engages-with-the-public/" target="_blank">DOJ</a> to name few. Volunteering has allowed me to support organizations focused on addressing <a href="https://www.kidpowerdc.org/in-school-programming/" target="_blank">food deserts in DC</a>, celebrating the
<a href="https://dcdesignweek.org/" target="_blank">DC design community</a>, and mentoring <a href="https://inroads.org/college-links/" target="_blank"> high school students on STEM</a>.</p> The next phase of my volunteer efforts will be focused on increasing diversity within public sector by highlighting pathways to a career in government, celebrating leaders in the public sector, and engaging the next generation of public sector talent across colleges and universities.




</div>

<span class="image main">
<img src="/images/BWhittaker_FINAL_web.jpg" alt="" />
</span>
</section>
{% endblock %}
