{% extends '_includes/layout.njk' %}

{% block content %}
<!-- Banner -->
<section>
      <header class="main">
        <h1>Federal</h1>
      </header>
      <figure class="container">
            <img src="/images/neonbrand-kntTLARe-N8-unsplash.jpg" alt="">
      </figure>
      <br>
      <p>The federal government has centralized designers and developers in a few specific organizations. These organizations support other government agencies by using their expertise to improve websites, fix critical software issues, buy software and in some instances, develop software. These organizations post job opportunities a couple of times a year. Check out the organizations below to learn more.</p>


  </section>


<!-- Section -->
  <section>
    <div class="row">
      <div class="col-6 col-12-small">
        <h3><a href="https://digitalcorps.gsa.gov/" target="_blank">U.S. Digital Corps</a></h3>
        <p>The U.S. Digital Corps is a new two‑year fellowship for early‑career technologists where you will work every day to make a difference in critical impact areas including coronavirus response, economic recovery, cybersecurity, and racial equity.</p>
      </div>
      <div class="col-6 col-12-small">
        <h3><a href="https://18f.gsa.gov/" target="_blank">18F</a></h3>
        <p>18F is a technology and design consultancy for the U.S. Government, inside the government. 18F partners with agencies to improve the user experience of government services by helping them build and buy technology.</p>
      </div>
      <div class="row">
        <div class="col-6 col-12-small">
          <h3><a href="https://www.usds.gov/" target="_blank">U.S. Digital Service</a></h3>
          <p>Using design and technology to deliver better services to the American people. To improve these services, USDS hires top technologists into term-limited ‘tours of civic service.’ By working alongside civil servants, they help build better tools for the people.</p>
        </div>
        <div class="col-6 col-12-small">
          <h3><a href="https://presidentialinnovationfellows.gov/" target="_blank">Presidential Innovation Fellows</a></h3>
          <p>This highly-competitive program pairs talented, diverse technologists and innovators with top civil-servants and change-makers working at the highest levels of the federal government to tackle some our nation’s biggest challenges.</p>
        </div>
        <div class="row">
          <div class="col-6 col-12-small">
            <h3><a href="https://www.dds.mil/" target="_blank">Defense Digital Service</a></h3>
            <p>Defense Digital Service (DDS) is a rapid response team that includes top engineers, data scientists, product managers and designers -- from industry, government and the military -- working within the Office of the Secretary of Defense. We surge in times of crisis and emerging threat, take the lessons learned and the technology built, and add to the Defense Department’s capabilities.</p>
          </div>
          <div class="col-6 col-12-small">
            <h3><a href="https://lab.opm.gov/" target="_blank">Lab • OPM</a></h3>
            <p>The Lab at OPM helps government organizations transform their programs, processes, and people through human-centered design. The Lab is a team of designers with diverse backgrounds that helps our partners address complex challenges. Across all of our services, we strive to build human-centered design capacity across the federal government.</p>
          </div>
          <div class="row">
            <div class="col-6 col-12-small">
              <h3><a href="https://www.pmf.gov/" target="_blank">Presidential Management Fellows Program</a></h3>
              <p>Bearing the Presidential moniker, the PMF Program is a flagship leadership development program at the entry level for advanced degree candidates. The Program attracts and selects the best candidates possible, but is really designed with a more narrow focus - developing a cadre of potential government leaders. The PMF Program inculcates a lasting bond as well as a spirit of public service, ultimately encouraging and leading to a career in the government. </p>
            </div>
            <div class="col-6 col-12-small">
              <h3><a href="https://vsfs.state.gov/" target="_blank">Virtual Student Federal Service</a></h3>
              <p>The Virtual Student Federal Service (VSFS) is a nine-month remote internship for U.S. citizen students, college-level and above, who would like to make a real difference in the work of the U.S. government. Since 2009, thousands of eInterns have expanded the efforts of the U.S. government, working remotely from their school, dorm room, apartment, local library or coffee shop – wherever they happen to be!</p>
  </section>
</div>
</div>

{% endblock %}
