{% extends '_includes/layout.njk' %}

{% block content %}
<!-- Banner -->
<section>
      <header class="main">
        <h1>Guides</h1>
      </header>
      <figure class="container">
            <img src="/images/rana-sawalha-W_-6PWGbYaU-unsplash.jpg" alt="">
      </figure>
      <br>
      <p>The process of identifying and securing a position in the government can be difficult. Therefore, the resources on this page can be used as a guide on your journey to public service. These resources range from job boards and application guides to professional associations and local networking opportunities.</p>


  </section>


<!-- Section -->
  <section>
    <div class="row">
      <div class="col-6 col-12-small">
        <h3><a href="https://www.usajobs.gov/" target="_blank">USAJOBS</a></h3>
        <p>USAJOBS connects job seekers with federal employment opportunities across the U.S. and around the world. As the Federal Government’s official employment site, USAJOBS helps the right people find the right jobs.</p>
      </div>
      <div class="col-6 col-12-small">
        <h3><a href="https://gogovernment.org/?utm_source=MASTER&utm_campaign=9c4032cc7d-EMAIL_CAMPAIGN_2019_03_18_11_18_COPY_01&utm_medium=email&utm_term=0_3aed0f55fc-9c4032cc7d-213491377" target="_blank">Go Government</a></h3>
        <p>This site is designed to be your guide as you consider, apply, and secure federal employment. We’ll help you research federal agencies and government careers as well as provide practical tips for completing your application.</p>
      </div>
      <div class="row">
        <div class="col-6 col-12-small">
          <h3><a href="https://www.all-hands.us/" target="_blank">All Hands</a></h3>
          <p>All Hands creates a talent pool of tech, data, digital and comms resumes and have partnered with an array of cutting-edge civic engagement, social impact, advocacy, and campaigning organizations working to build what matters.</p>
        </div>
        <div class="col-6 col-12-small">
          <h3><a href="https://join.tts.gsa.gov/" target="_blank">Join TTS</a></h3>
          <p>The Technology Transformation Services (TTS) mission is to design and deliver a digital government with and for the American public. TTS is part of the General Services Administration (GSA).</p>
        </div>
        <div class="row">
          <div class="col-6 col-12-small">
            <h3><a href="https://brigade.codeforamerica.org/" target="_blank">Code For America Brigade</a></h3>
            <p>The Brigade Network is a national alliance of community organizers, developers, and designers that are putting technology to work in service of our local communities. We believe that government can work, for the people, by the people, in the digital age, if we all help.</p>
          </div>
          <div class="col-6 col-12-small">
            <h3><a href="https://www.publicgood.tech/" target="_blank">Technologists for the Public Good</a></h3>
            <p>This association offers connections with human-centered designers, software engineers, data scientists, product managers, procurement experts, policy analysts, and others that are as passionate as you about creating a government that works for the public.</p>
          </div>
          <div class="row">
            <div class="col-6 col-12-small">
              <h3><a href="https://digital.gov/services/directory/" target="_blank">Digital.gov</a></h3>
              <p>This is a list of tools and services to help improve your digital products. The items on the list are provided by a variety of agencies and range from free products to paid services.</p>
            </div>
            <div class="col-6 col-12-small">
              <h3><a href="https://www.civicdesignlibrary.com/" target="_blank">Civic Design Library</a></h3>
              <p>The Civic Design Library is a crowdsourced data set of civic design resources created by global practitioners working at the intersection of design and the public sector.</p>
            </div>
  </section>
</div>
</div>
{% endblock %}
