{% extends '_includes/layout.njk' %}

{% block content %}
<!-- Banner -->
  <section id="banner">
    <div class="content">
      <header>
        <h1>Hi, I’m Brian.</h1>
      </header>
      <p>I lead design and development organizations in the government.</p>
      <p>I believe that government and technology are effective when diverse perspectives participate in decision making. My mission is to increase diversity in the government by engaging college students, shining light on pathways to public sector careers, and celebrating public servants. More information about my work and projects can be found here.</p>
    </div>
    <span class="image object">
      <img src="images/brian-podium.jpeg" alt="" />
    </span>
  </section>
  <section>
    <header class="major">
      <h2>Projects</h2>
    </header>
    <div class="row">
    <div class="col-4 col-12-medium">
      <h3>College Awareness Network</h3>
      <a href="/college" class="image"><img src="images/neonbrand-1-aA2Fadydc-unsplash.jpg" alt="" /></a>
      <p>Connecting with colleges to increase awareness about careers in the public sector.<strong> Coming Soon!</strong></p>
    </div>
    <div class="col-4 col-12-medium">
      <h3>Humans of Public Service</h3>
      <a href="/hops" class="image"><img src="images/ian-hutchinson-P8rgDtEFn7s-unsplash.jpg" alt="" /></a>
      <p>Celebrating the great work of public servants across state, local, and federal government. <strong> Coming Soon!</strong></p>
    </div>
    <div class="col-4 col-12-medium">
      <h3>Pathways to Government</h3>
      <a href="/pathways" class="image"><img src="images/jake-blucker-OJX7gIU3E6U-unsplash.jpg" alt="" /></a>
      <p>Highlighting pathways to a career in government for developers and designers.</p>
    </div>
  </div>
  </section>
  <!-- Section -->
  <section>
    <header class="major">
      <h2>Let's Connect</h2>
    </header>
    <p>Are you interested in supporting a project or do you someone that can? Send me an <a href="mailto:me@bwhtt.com">email</a>.</p>
    <ul class="contact">
      <!-- <li class="icon solid fa-envelope"><a href="mailto:me@bwhtt.com">me@bwhtt.com</a></li> -->
    </ul>
  </section>
{% endblock %}
