{% extends '_includes/layout.njk' %}

{% block content %}
<!-- Banner -->
  <section id="banner">
    <div class="content">
      <header>
        <h1>Hi, I’m Brian<br />
        Whittaker</h1>
      </header>
      <p>A leader in public interest technology.</p>
      <p>I believe that government and technology are effective when diverse perspectives participate in decision making. My mission is to increase diversity in the government by engaging college students, shining light on pathways to careers, and celebrating public servants. My projects can be found here.</p>
    </div>
    <span class="image object">
      <img src="images/brian-podium.jpeg" alt="" />
    </span>
  </section>

<!-- Section
  <section>
    <header class="major">
      <h2>Erat lacinia</h2>
    </header>
    <div class="features">
      <article>
        <span class="icon fa-gem"></span>
        <div class="content">
          <h3>Portitor ullamcorper</h3>
          <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
        </div>
      </article>
      <article>
        <span class="icon solid fa-paper-plane"></span>
        <div class="content">
          <h3>Sapien veroeros</h3>
          <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
        </div>
      </article>
      <article>
        <span class="icon solid fa-rocket"></span>
        <div class="content">
          <h3>Quam lorem ipsum</h3>
          <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
        </div>
      </article>
      <article>
        <span class="icon solid fa-signal"></span>
        <div class="content">
          <h3>Sed magna finibus</h3>
          <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
        </div>
      </article>
    </div>
  </section>-->

<!-- Section -->
  <section>
    <header class="major">
      <h2>Pathways to Government</h2>
    </header>
    <div class="posts">
      <article>
        <a href="federal.html" class="image"><img src="images/neonbrand-kntTLARe-N8-unsplash.jpg" alt="" /></a>
        <h3>Federal</h3>
        <p>Hiring designers and developers to help other agencies.</p>
        <ul class="actions">
          <li><a href="federal.html" class="button">More</a></li>
        </ul>
      </article>
      <article>
        <a href="stateandlocal.html" class="image"><img src="images/katie-moum-o0kbc907i20-unsplash.jpg" alt="" /></a>
        <h3>State + Local</h3>
        <p>Using design and technology to improve outcomes for citizens.</p>
        <ul class="actions">
          <li><a href="stateandlocal.html" class="button">More</a></li>
        </ul>
      </article>
      <article>
        <a href="non-profit.html" class="image"><img src="images/cytonn-photography-n95VMLxqM2I-unsplash.jpg" alt="" /></a>
        <h3>Non-Profit</h3>
        <p>Partnering with government to provide access to talent, training, research and advisory services.</p>
        <ul class="actions">
          <li><a href="non-profit.html" class="button">More</a></li>
        </ul>
      </article>
      <article>
        <a href="guides.html" class="image"><img src="images/rana-sawalha-W_-6PWGbYaU-unsplash.jpg" alt="" /></a>
        <h3>Guides</h3>
        <p>Job boards and guides to prepare for the federal hiring process.</p>
        <ul class="actions">
          <li><a href="guides.html" class="button">More</a></li>
        </ul>
      </article>

    </div>
  </section>

</div>
</div>
{% endblock %}
