{% extends '_includes/layout.njk' %}

{% block content %}
<!-- Banner -->
<section>
      <header class="main">
        <h1>State + Local</h1>
      </header>
      <figure class="container">
            <img src="/images/katie-moum-o0kbc907i20-unsplash.jpg" alt="">
      </figure>
      <br>
      <p>State and local governments have established teams of designers and developers to reimagine how services and information are provided to citizens. These teams also focus on a variety of challenges including service design, data analysis, web development and policy innovation.</p>


  </section>


<!-- Section -->
  <section>
    <div class="row">
      <div class="col-6 col-12-small">
        <h3><a href="https://digital.ca.gov/" target="_blank">Office of Digital Innovation</a></h3>
        <p><b>California</b> - The Office of Digital Innovation (ODI) partners with state departments to improve government services. Our vision is to create programs that put Californians first. We use people-centered design to discover technological innovation that serves Californians’ needs. We see a California that is equitable, efficient, and data-inspired.</p>
      </div>
      <div class="col-6 col-12-small">
        <h3><a href="https://oit.colorado.gov/colorado-digital-service" target="_blank">Digital Service</a></h3>
        <p><b>Colorado</b> - A diverse, cross-functional team of senior engineers, human-centered design specialists, product managers and procurement and specialists within the Governor’s Office of Information Technology. We develop and improve human-centered solutions to Colorado's most pressing technical challenges.</p>
      </div>
      <div class="row">
        <div class="col-6 col-12-small">
          <h3><a href="https://digital.fl.gov/" target="_blank">Digital Service</a></h3>
          <p><b>Florida</b> - The Digital Service team was created to deliver better government services and transparency to Floridians through design and technology. FL Digital Service was established in 2020 and is committed to transforming government.</p>
        </div>
        <div class="col-6 col-12-small">
            <h3><a href="https://digitalservices.georgia.gov/" target="_blank">Digital Service</a></h3>
          <p><b>Georgia</b> - Digital Services partners with Georgia state agencies and elected officials to deliver information and services to the public. Our web platform, training, consulting, and governance put constituents' needs first to provide the best possible experience.</p>
        </div>
        <div class="row">
          <div class="col-6 col-12-small">
            <h3><a href="https://www.montgomerycountymd.gov/innovation/" target="_blank">Innovation Team</a></h3>
            <p><b>Maryland</b> - The Montgomery County, MD Innovation  Team serve as a resource and advocate for people making things better: effective, efficient, and equitable. We seek a government more liberating, just, and human. They believe in the people of local government improving their own processes and systems to better serve our County. We exist to enable their success.</p>
          </div>
          <div class="col-6 col-12-small">
            <h3><a href="https://buildwithnyc.github.io/" target="_blank">NYC Opportunity</a></h3>
            <p><b>New York</b> - NYC Opportunity works to improve the systems of government by advancing the use of research, data and design in program and policy development, service delivery, and budget decisions. Our work includes analyzing existing anti-poverty approaches, developing new strategies, facilitating the sharing of data, and rigorously assessing the impact of key initiatives.</p>
          </div>
          <div class="row">
            <div class="col-6 col-12-small">
              <h3><a href="https://innovation.nj.gov/" target="_blank">Office of Innovation</a></h3>
              <p><b>New Jersey</b> - The Office of Innovation improves the design and delivery of policies and services to the state's residents, businesses, and institutions.  The office creates innovative policies and technologies that address complex public problems. We work collaboratively with government, academic, non-profit, and private sector institutions to drive innovation.</p>
            </div>
            <div class="col-6 col-12-small">
              <h3><a href="https://www.phila.gov/departments/office-of-the-chief-administrative-officer/service-design-studio/" target="_blank">Service Design Studio</a></h3>
              <p><b>Pennsylvania</b> - The Philadelphia Service Design Studio supports service improvement efforts across the city. As a team of design research and service design practitioners, we believe that service access is a social justice issue, design is never neutral, and the people closest to a policy or service challenge should inform its design.</p>
            </div>
            <div class="row">
              <div class="col-6 col-12-small">
                <h3><a href="http://www.seattle.gov/innovation-and-performance" target="_blank">Innovation and Performance</a></h3>
                <p><b>Washington</b> - Seattle’s Office of Innovation and Performance takes a multi-disciplinary approach to innovation leverages data analytics, human-centered design and partnerships to drive creative and actionable engagements with City departments.</p>
              </div>
  </section>
</div>
</div>
{% endblock %}
